@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: #D5E1EF;
}

img {
    max-width: 100%;
}

.container {
    background-color: white;
    width: 20%;
    margin: auto;
    margin-top: 10%;
    padding: 16px;
    border-radius: 20px;
}

.blue {
    background-color: #2C7DFA;
    padding: 64px;
    border-radius: 10px;
}

.text {
    font-family: 'Outfit',sans-serif;
    text-align: center;
}

.text h4 {
    font-weight: 700;
}

.text p {
    color: #7D889E;
}